{% extends "base.html" %}
{% block title %}Juegos MSX{% endblock %}
{% block content %}
<div class="hero-full-container background-image-container white-text-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>Mountain</h1>
          <p>WELCOME TO MOUNTAIN WEBSITE. AGENCY IN BERLIN.</p>
          <br>
          <a href="project.html" class="btn btn-default btn-lg" title="">Discover</a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}